.pink{
    background-color: #F8698E;
    height: 40px;
}
.header{
    
    height: 100px;
    clear: both;
}
.nav-bar{
    clear:both;
    overflow: hidden;
    margin: 10px;
   
}
.nav{
    float: right;
    padding: 2rem;

    
}
.logo{
    float: left;
    padding-left: 20px;
    padding-top: 5px;
}
.sign-up-button{
    padding: 4px 8px;
    border: 0 none;
    border-radius: 4px;  
}
.sign-up-button:hover{
    transform: scale(1.5);
    transition-duration: 2s;
    
}

.nav ul li{
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    list-style: none;
}
.nav ul li a{
    color: black;
    text-decoration: none;
}
.search{
    display: inline-block;
    width: 100%;
    padding: 4px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.search-box{
    width:100%;
    padding: 8px 12px;
    position: absolute;
    top: 144px;
    border-radius: 10px;
    border: 1px solid #A3CB78;
    text-align: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
    .pink {
      background-color: pink;
      height: 50px;
    }
    nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .logo img {
        width: 80px;
      }
      .nav {
        margin-top: 20px;
        text-align: center;
      }
      .nav ul {
        margin: 0;
        padding: 0;
      }
    
      .nav li {
        display: inline-block;
        margin-right: 10px;
      }
      .search {
        margin-top: 20px;
        text-align: center;
      }
    
      .search-box {
        width: 100%;
        max-width: 300px;
      }
  }
